.Global{background-color: white;
padding: 40px;
box-shadow: 0px 10px 30px;
border-radius: 4px;}

.Haut{text-align: center;
background-color: beige;
padding: 60px;
margin: 40px auto;
border-radius: 15px;}

.Formation{text-align: Center;
background-color: beige;
padding: 60;
margin: 50;
border-radius: 15px;}

.Bachelor{text-align: center;
background-color: beige;
padding: 60;
margin: 50;
border-radius: 15px;}

.Bac{text-align: Center;
background-color: white;
padding: 60;
margin: 50;}

.Exp{text-align: center;
background-color: beige;
padding: 60;
margin: 50;
border-radius: 15px;}

.content{text-align: center;
background-color: beige;
padding: 60;
margin: 50;
border-radius: 15px;}